{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
{{ detail_post.title }}
{% endblock title %}

{% block content %}
<!--Содержание публикации-->
<header>
    {% trans "Тип публикации" %} {{ detail_post.type }}
    <h3>{{detail_post.title}}</h3>
</header>
<main>
    {{detail_post.text|censor}}
</main>
<footer>
    {% trans "Рейтинг публикации" %} {{ detail_post.rating }} | {% trans "Автор" %} {{ detail_post.author }} | {% trans "Рейтинг автора" %} {{ detail_post.author.rating }} |
    {% trans "Дата и время публикации" %} {{ detail_post.datetime|date:'d.m.y' }} {{ detail_post.datetime|time:'H:i' }}
</footer>
<form action="{% url 'like_post' detail_post.id %}" method="post">  <!--Лайкнуть публикацию-->
    {% csrf_token %}
    <input type="submit" value="Нравится">
</form>
<form action="{% url 'dislike_post' detail_post.id %}" method="post">  <!--Дизлайкнуть публикацию-->
    {% csrf_token %}
    <input type="submit" value="Не нравится">
</form>
{% if request.user == detail_post.author.user %}  <!--Если текущий пользователь создатель публикации-->
<form action="{% url 'edit_post' detail_post.id %}" method="get">  <!--Редактировать публикацию-->
    {% csrf_token %}
    <input type="submit" value="Редактировать">
</form>
<form action="{% url 'delete_post' detail_post.id %}" method="get">  <!--Удалить публикацию-->
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
{% endif %}
<form action="{% url 'create_comment' %}" method="get">   <!--Создать комментарий-->
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ detail_post.id }}">
    <input type="submit" value="Написать комментарий">
</form>

<!--Комментарии пользователей к этой публикации-->
<h3>{% trans "Комментарии (всего:" %} {{ comments|length }})</h3>
<hr>
{% for comment in comments %}
{{ comment.user.username }} | {{ comment.datetime|date:'d.m.y' }} {{ comment.datetime|time:'H:i' }}
<br>
{{ comment.text }}
<br>
{% trans "Рейтинг комментария" %} {{ comment.rating }}
<form action="{% url 'like_comment' comment.id %}" method="post">  <!--Лайкнуть комментарий-->
    {% csrf_token %}
    <input type="submit" value="Нравится">
</form>
<form action="{% url 'dislike_comment' comment.id %}" method="post">   <!--Дизлайкнуть комментарий-->
    {% csrf_token %}
    <input type="submit" value="Не нравится">
</form>
{% if request.user == comment.user %}  <!--Если текущий пользователь создатель комментария-->
<form action="{% url 'edit_comment' comment.id %}" method="get">   <!--Редактировать комментарий-->
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ comment.post.id }}">
    <input type="submit" value="Редактировать">
</form>
<form action="{% url 'delete_comment' comment.id %}" method="get">   <!--Удалить комментарий-->
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ comment.post.id }}">
    <input type="submit" value="Удалить">
</form>
{% endif %}
<hr>
{% empty %}
<h4>{% trans "Комментариев нет" %}</h4>
{% endfor %}
{% endblock content %}