{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<!--Информация о пользователе-->
<h2>Авторизован как {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя</div>
<form action="{% url 'logout' %}" method="get">  <!--Выйти из аккаунта-->
    {% csrf_token %}
    <input type="submit" value="Выйти">
</form>

<!--Кнопки для создания новостей-->
{% if is_not_author %}
<form action="{% url 'upgrade' %}" method="get">  <!--Войти в группу authors-->
    {% csrf_token %}
    <input type="submit" value="Стать автором">
</form>
{% else %}
<form action="{% url 'create_news' %}" method="get">  <!--Перейти в форму создания новости-->
    {% csrf_token %}
    <input type="submit" value="Написать новость">
</form>
<form action="{% url 'create_article' %}" method="get">  <!--Перейти в форму создания статьи-->
    {% csrf_token %}
    <input type="submit" value="Написать статью">
</form>
{% endif %}

<!--Поиск по фильтрам-->
<h3>Поиск по фильтрам</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>

<!--Список категорий-->
<div class="col-md-4">
    <h3>Категории</h3>
    {% for category in categories %}
    {{ category.name }}
    {% if category.id not in user_subscribes %} <!--Если категории нет в подписках пользователя-->
    <form action="{% url 'subscribe_to_category' category.id %}" method="post"> <!-- Подписаться на категорию -->
        {% csrf_token %}
        <input type="submit" value="Подписаться">
    </form>
    {% else %} <!--Если категория в подписках пользователя-->
    <form action="{% url 'unsubscribe_from_category' category.id %}" method="post"> <!-- Отписаться от категории -->
        {% csrf_token %}
        <input type="submit" value="Отписаться">
    </form>
    {% endif %}
    {% endfor %}
</div>

<!--Список всех публикаций-->
<h1>Новости и статьи (всего: {{ posts|length }})</h1> <!--Количество публикаций на сайте-->
<hr>
{% for post in list_posts %}
<header>
    <section>
        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
    </section>
</header>
<main>
    <section>
        {{ post.text|censor|shorten }}
    </section>
</main>
<footer>
    <section>
        Рейтинг {{ post.rating }} | Автор {{ post.author }} | Рейтинг автора {{ post.author.rating }} |
        Дата публикации {{ post.datetime|date:'d.m.y' }}
    </section>
</footer>
<hr>
{% empty %}
<h2>Новостей нет</h2>
{% endfor %}

<!--Пагинация-->
{% if page_obj.has_previous %}
{# Для каждой ссылки пагинации указываем обработку через тег url_replace #}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}
