{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<!--Информация о пользователе-->
<h2>Авторизован как {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя</div>
<button><a href="sign/logout/">Выйти</a></button>

<!--Кнопки для создания новостей-->
{% if is_not_author %}  <!-- is_not_author объявлена в get_context_data!!! -->
<button><a href="sign/upgrade/"> Стать автором </a></button>
{% else %}
<button><a href="news/create/"> Написать новость </a></button>
<button><a href="article/create/"> Написать статью </a></button>
{% endif %}

<!--Поиск по фильтрам-->
<h3>Поиск по фильтрам</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>

<!--Список категорий-->
<div class="col-md-4">
    <h3>Категории</h3>
    {% for category in categories %}    <!-- categories объявлена в get_context_data!!! -->
    {{ category.name }}
    <form action="{% url 'subscribe_to_category' %}" method="post"> <!-- Подписаться на категорию -->
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category.name }}">
        <input type="submit" value="Подписаться">
    </form>
    <form action="{% url 'unsubscribe_from_category' %}" method="post"> <!-- Отписаться от категории -->
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category.name }}">
        <input type="submit" value="Отписаться">
    </form>
    {% endfor %}
</div>

<!--Таблица всех новостей-->
<h1>Новости и статьи ( {{ all_news|length }} )</h1> <!--Количество новостей на сайте-->
<hr>
{% for n in news_list %}
<header>
    <section>
        <h5><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h5>
    </section>
</header>
<main>
    <section>
        {{ n.text|censor|shorten }}
    </section>
</main>
<footer>
    <section>
        Рейтинг новости {{ n.rating }} | Автор {{ n.author }} | Рейтинг автора {{ n.author.rating }} |
        Дата публикации {{ n.datetime|date:'d.m.y' }}
    </section>
</footer>
<hr>
{% empty %}
<h2>Новостей нет</h2>
{% endfor %}

<!--Пагинация-->
{% if page_obj.has_previous %}
{# Для каждой ссылки пагинации указываем обработку через тег url_replace #}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}
