<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
OneNews
{% endblock title %}

{% block content %}
<header>
    <h3>{{one_news.title}}</h3>
</header>
<main>
    <p style="text-align: left;">{{one_news.text|censor}}</p>
</main>
<footer>
    Рейтинг новости {{ one_news.rating }} | Автор {{ one_news.author }} | Рейтинг автора {{ one_news.author.rating }} |
    Дата публикации {{ one_news.datetime|date:'d.m.Y' }}
</footer>
<button><a href="{{ one_news.get_absolute_url }}/edit">Редактировать</a></button>
<button><a href="{{ one_news.get_absolute_url }}/delete">Удалить</a></button>
<button><a href="{{ one_news.get_absolute_url }}/like">Нравится</a></button>
<button><a href="{{ one_news.get_absolute_url }}/dislike">Не нравится</a></button>
{% endblock content %}