<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
OneNews
{% endblock title %}

{% block content %}
<!--Содержание публикации-->
<header>
    <h3>{{one_news.title}}</h3>
</header>
<main>
    {{one_news.text|censor}}
</main>
<footer>
    Рейтинг новости {{ one_news.rating }} | Автор {{ one_news.author }} | Рейтинг автора {{ one_news.author.rating }} |
    Дата публикации {{ one_news.datetime|date:'d.m.Y' }}
</footer>
<button><a href="{{ one_news.get_absolute_url }}/edit">Редактировать</a></button>
<button><a href="{{ one_news.get_absolute_url }}/delete">Удалить</a></button>
<button><a href="{{ one_news.get_absolute_url }}/like">Нравится</a></button>
<button><a href="{{ one_news.get_absolute_url }}/dislike">Не нравится</a></button>
<form action="{% url 'create_comment' %}" method="post">   <!--Создать комментарий-->
    {% csrf_token %}
    <input type="submit" value="Написать комментарий">
</form>

<!--Комментарии пользователей к этой публикации-->
<h3>Комментарии ( {{ comments|length }} )</h3>
<hr>
{% for comment in comments %}
{{ comment.user.username }} | {{ comment.datetime|date:'d.m.y' }}
<br>
{{ comment.text }}
<br>
Рейтинг комментария {{ comment.rating }}
<form action="{% url 'like_comment' %}" method="post">  <!--Лайкнуть комментарий-->
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    <input type="submit" value="Нравится">
</form>
<form action="{% url 'dislike_comment' %}" method="post">   <!--Дизлайкнуть комментарий-->
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    <input type="submit" value="Не нравится">
</form>
<form action="{% url 'edit_comment' comment.id %}" method="post">   <!--Редактировать комментарий-->
    {% csrf_token %}
    <input type="submit" value="Редактировать">
</form>
<form action="{% url 'delete_comment' comment.id %}" method="get">   <!--Удалить комментарий-->
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ comment.post.id }}">
    <input type="submit" value="Удалить">
</form>
<hr>
{% empty %}
<h4>Комментариев нет</h4>
{% endfor %}
{% endblock content %}